In [1]:
import numpy as np
import pandas as pd 
import csv
from pprint import pprint # Это для крассивого отображения
from datetime import datetime
from datetime import timedelta
import locale #для работы с русскими месяцами

locale.setlocale(locale.LC_ALL, "ru")

'ru'

## 1. Прочесть файл excel в dataframe

In [2]:
df = pd.read_excel('for_ex5.xls', sheet_name='Trade flows')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Flow ID                        184 non-null    object
 1   Vessel                         184 non-null    object
 2   Vessel IMO                     184 non-null    float64
 3   Load Country                   184 non-null    object
 4   Load Port                      184 non-null    object
 5   Departure Date                 184 non-null    datetime64[ns]
 6   Discharge Country              184 non-null    object
 7   Discharge Port                 184 non-null    object
 8   Arrival Date                   184 non-null    datetime64[ns]
 9   Product                        184 non-null    object
 10  Grade                          184 non-null    object
 11  Volume                         184 non-null    object
 12  Unit                           184 non-null    object
 13  Load Country/Sub-Country       184 non-null    object
 14  Load Region                    184 non-null    object
 15  Load State                     184 non-null    object
 16  Load Berth                     170 non-null    object
 17  Load Zone                      184 non-null    object
 18  Load Date From                 184 non-null    datetime64[ns]
 19  Discharge Country/Sub-Country  184 non-null    object
 20  Discharge Region               184 non-null    object
 21  Discharge State                0 non-null      float64
 22  Discharge Berth                118 non-null    object
 23  Discharge Zone                 184 non-null    object
 24  Arrival Date To                171 non-null    datetime64[ns]
 25  Buyer/Receiver                 0 non-null      float64
 26  Issuer                         0 non-null      float64
 27  Sender                         0 non-null      float64
 28  Awardee                        0 non-null      float64
 29  Consignee                      0 non-null      float64
 30  Charterer                      0 non-null      float64
 31  Buy/Sell                       0 non-null      float64
 32  Price                          0 non-null      float64
 33  Price Basis                    0 non-null      float64
 34  Vessel Ric                     184 non-null    object
 35  Freight                        0 non-null      float64
 36  Benchmark                      0 non-null      float64
 37  Closing Date                   0 non-null      float64
 38  Validity Date                  0 non-null      float64
 39  Contract Basis                 0 non-null      float64
 40  Terms                          0 non-null      float64
 41  Import/Export                  0 non-null      float64
 42  Status                         184 non-null    object
 43  Source Grade                   0 non-null      float64
 44  Country of Origin              12 non-null     object
 45  Last Updated                   184 non-null    datetime64[ns]
dtypes: datetime64[ns](5), float64(19), object(22)
memory usage: 52.0+ KB

## 2. Удалить все пустые строки (строка пустая, если все её ячейки пустые)

In [4]:
df = df.dropna(thresh=1)#tresh аргумент, который означает кокое минимальное не NAN значений должно быть в строке. чтобы её не удалили
df

,Flow ID,Vessel,Vessel IMO,Load Country,Load Port,Departure Date,Discharge Country,Discharge Port,Arrival Date,Product,...,Benchmark,Closing Date,Validity Date,Contract Basis,Terms,Import/Export,Status,Source Grade,Country of Origin,Last Updated
1,4060929,GASCHEM ORCA,9743916.0,United States,Houston,2020-02-02 13:27:51,United Kingdom,Teesport,2020-02-16 08:00:00,Liquefied Petroleum Gas,...,NaN,NaN,NaN,NaN,NaN,NaN,Vessel Underway,NaN,NaN,2020-02-02 17:36:04
2,4071408,ARCTIC GAS,9745512.0,United States,Philadelphia,2020-02-01 22:28:35,Morocco,Jorf Lasfar,2020-02-10 23:00:00,Liquefied Petroleum Gas,...,NaN,NaN,NaN,NaN,NaN,NaN,Vessel Underway,NaN,NaN,2020-02-02 23:36:34
3,4023622,BW LOYALTY,9350290.0,United States,Houston,2020-02-01 13:10:43,Belgium,Antwerp,2020-02-15 23:00:00,Liquefied Petroleum Gas,...,NaN,NaN,NaN,NaN,NaN,NaN,Vessel Underway,NaN,NaN,2020-02-01 23:36:44
4,4088223,SEA SPEED,9763045.0,United States,Philadelphia,2020-01-31 12:05:11,Netherlands,Vlissingen,2020-02-11 22:00:00,Liquefied Petroleum Gas,...,NaN,NaN,NaN,NaN,NaN,NaN,Vessel Underway,NaN,NaN,2020-02-02 05:35:57
5,4024822,GASCHEM BELUGA,9743928.0,United States,Houston,2020-01-22 16:17:14,United Kingdom,Teesport,2020-02-05 20:00:00,Liquefied Petroleum Gas,...,NaN,NaN,NaN,NaN,NaN,NaN,Vessel Underway,NaN,NaN,2020-01-22 23:36:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,3764205,GASCHEM ORCA,9743916.0,United States,Houston,2019-07-05 11:22:24,United Kingdom,Teesport,2019-07-27 14:23:37,Liquefied Petroleum Gas,...,NaN,NaN,NaN,NaN,NaN,NaN,Vessel Discharged,NaN,NaN,2019-07-29 23:41:04
186,3802566,CAPTAIN NICHOLAS ML,9351919.0,United States,Philadelphia,2019-07-04 16:04:57,Denmark,Skagen,2019-07-20 17:04:33,Liquefied Petroleum Gas,...,NaN,NaN,NaN,NaN,NaN,NaN,Vessel Discharged,NaN,NaN,2019-08-12 23:41:34
187,3828318,CAPTAIN NICHOLAS ML,9351919.0,United States,Philadelphia,2019-07-04 16:04:57,Sweden,Stenungsund,2019-07-17 17:22:03,Liquefied Petroleum Gas,...,NaN,NaN,NaN,NaN,NaN,NaN,Vessel Discharged,NaN,NaN,2019-08-12 23:41:33
188,3805627,HAPPY CONDOR,9368780.0,United States,Houston,2019-07-02 15:16:31,Netherlands,Rotterdam,2019-07-24 13:58:08,Liquefied Petroleum Gas,...,NaN,NaN,NaN,NaN,NaN,NaN,Vessel Discharged,NaN,NaN,2019-07-26 05:42:16
189,3776683,HAPPY CONDOR,9368780.0,United States,Houston,2019-07-02 15:16:31,Belgium,Antwerp,2019-07-19 19:46:56,Liquefied Petroleum Gas,...,NaN,NaN,NaN,NaN,NaN,NaN,Vessel Discharged,NaN,NaN,2019-07-24 17:40:34

## 3. Удалить строку, если в одна из ячеек пустая:
#### Flow Id
#### Volume
#### Vessel

In [5]:
#заменяю пробельные символы на nan 
df.replace(to_replace=r'^\s*$', value=np.nan, regex=True,inplace = True)

In [6]:
df.dropna(subset=['Flow ID', 'Volume', 'Vessel'], inplace = True)

## 4. Удалить столбец из dataframe, если все его значения пустые
   #### Проверить, что на месте удаленных строк нет пустых строк, при удалении строки общее количество строк сокращается

In [7]:
df.dropna(axis='columns',how='all', inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 1 to 189
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Flow ID                        177 non-null    object
 1   Vessel                         177 non-null    object
 2   Vessel IMO                     177 non-null    float64
 3   Load Country                   177 non-null    object
 4   Load Port                      177 non-null    object
 5   Departure Date                 177 non-null    datetime64[ns]
 6   Discharge Country              177 non-null    object
 7   Discharge Port                 177 non-null    object
 8   Arrival Date                   177 non-null    datetime64[ns]
 9   Product                        177 non-null    object
 10  Grade                          177 non-null    object
 11  Volume                         177 non-null    float64
 12  Unit                           177 non-null    object
 13  Load Country/Sub-Country       177 non-null    object
 14  Load Region                    177 non-null    object
 15  Load State                     177 non-null    object
 16  Load Berth                     163 non-null    object
 17  Load Zone                      177 non-null    object
 18  Load Date From                 177 non-null    datetime64[ns]
 19  Discharge Country/Sub-Country  177 non-null    object
 20  Discharge Region               177 non-null    object
 21  Discharge Berth                113 non-null    object
 22  Discharge Zone                 177 non-null    object
 23  Arrival Date To                165 non-null    datetime64[ns]
 24  Vessel Ric                     177 non-null    object
 25  Status                         177 non-null    object
 26  Country of Origin              11 non-null     object
 27  Last Updated                   177 non-null    datetime64[ns]
dtypes: datetime64[ns](5), float64(2), object(21)
memory usage: 25.6+ KB

## 5. Создать из dataframe csv-файл.

In [9]:
df.to_csv('temporary_csv.csv', index = False)

## 6. Прочесть csv в dataframe

In [10]:
df = pd.read_csv('temporary_csv.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Flow ID                        177 non-null    object
 1   Vessel                         177 non-null    object
 2   Vessel IMO                     177 non-null    float64
 3   Load Country                   177 non-null    object
 4   Load Port                      177 non-null    object
 5   Departure Date                 177 non-null    object
 6   Discharge Country              177 non-null    object
 7   Discharge Port                 177 non-null    object
 8   Arrival Date                   177 non-null    object
 9   Product                        177 non-null    object
 10  Grade                          177 non-null    object
 11  Volume                         177 non-null    float64
 12  Unit                           177 non-null    object
 13  Load Country/Sub-Country       177 non-null    object
 14  Load Region                    177 non-null    object
 15  Load State                     177 non-null    object
 16  Load Berth                     163 non-null    object
 17  Load Zone                      177 non-null    object
 18  Load Date From                 177 non-null    object
 19  Discharge Country/Sub-Country  177 non-null    object
 20  Discharge Region               177 non-null    object
 21  Discharge Berth                113 non-null    object
 22  Discharge Zone                 177 non-null    object
 23  Arrival Date To                165 non-null    object
 24  Vessel Ric                     177 non-null    object
 25  Status                         177 non-null    object
 26  Country of Origin              11 non-null     object
 27  Last Updated                   177 non-null    object
dtypes: float64(2), object(26)
memory usage: 20.8+ KB

## 7. Создать csv с delimiter = '\037' и line_terminator = '\036'

In [11]:
df.to_csv('from_csv_to_excell.csv',sep = chr(37),line_terminator = chr(36),index=False)

## 8. Из последнего csv создать excel-файл

In [12]:
read_file = pd.read_csv ('from_csv_to_excell.csv',sep = chr(37),lineterminator = chr(36))
read_file.to_excel ('from_csv_to_excel.xlsx', index = None, header=True)
read_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Flow ID                        177 non-null    object
 1   Vessel                         177 non-null    object
 2   Vessel IMO                     177 non-null    float64
 3   Load Country                   177 non-null    object
 4   Load Port                      177 non-null    object
 5   Departure Date                 177 non-null    object
 6   Discharge Country              177 non-null    object
 7   Discharge Port                 177 non-null    object
 8   Arrival Date                   177 non-null    object
 9   Product                        177 non-null    object
 10  Grade                          177 non-null    object
 11  Volume                         177 non-null    float64
 12  Unit                           177 non-null    object
 13  Load Country/Sub-Country       177 non-null    object
 14  Load Region                    177 non-null    object
 15  Load State                     177 non-null    object
 16  Load Berth                     163 non-null    object
 17  Load Zone                      177 non-null    object
 18  Load Date From                 177 non-null    object
 19  Discharge Country/Sub-Country  177 non-null    object
 20  Discharge Region               177 non-null    object
 21  Discharge Berth                113 non-null    object
 22  Discharge Zone                 177 non-null    object
 23  Arrival Date To                165 non-null    object
 24  Vessel Ric                     177 non-null    object
 25  Status                         177 non-null    object
 26  Country of Origin              11 non-null     object
 27  Last Updated                   177 non-null    object
dtypes: float64(2), object(26)
memory usage: 20.8+ KB